<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CPRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitAbs</servlet-name>
    <servlet-class>com.servlet.SubmitAbs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitAbs</servlet-name>
    <url-pattern>/SubmitAbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMember</servlet-name>
    <servlet-class>com.servlet.AddMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMember</servlet-name>
    <url-pattern>/AddMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelMember</servlet-name>
    <servlet-class>com.servlet.DelMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelMember</servlet-name>
    <url-pattern>/DelMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelAssign</servlet-name>
    <servlet-class>com.servlet.DelAssign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAssign</servlet-name>
    <url-pattern>/DelAssign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAssign</servlet-name>
    <servlet-class>com.servlet.AddAssign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAssign</servlet-name>
    <url-pattern>/AddAssign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetPrefers</servlet-name>
    <servlet-class>com.servlet.SetPrefers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPrefers</servlet-name>
    <url-pattern>/SetPrefers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetReport</servlet-name>
    <servlet-class>com.servlet.SetReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetReport</servlet-name>
    <url-pattern>/SetReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetDiscuss</servlet-name>
    <servlet-class>com.servlet.SetDiscuss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDiscuss</servlet-name>
    <url-pattern>/SetDiscuss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetPDF</servlet-name>
    <servlet-class>com.servlet.SetPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPDF</servlet-name>
    <url-pattern>/SetPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Accept</servlet-name>
    <servlet-class>com.servlet.Accept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accept</servlet-name>
    <url-pattern>/Accept</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Reject</servlet-name>
    <servlet-class>com.servlet.Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
</web-app>